body {
    color: black;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: white;
}

h1 {
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    color: black;
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

h3 {
    color: black;
    font-size: 13px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

label {
    font-weight: bold;
}

#content {
    margin: 50px 30px;
    height: 100%;
    padding: 30px;
    position: relative;
    z-index: 0;
}

.head_img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-bottom: 2px solid #f1f1f1;
}

.head_img img { width: 100%; margin-top: -50px; }

#jumbo {
    width: 85%;
    padding: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 110px;
    margin-top: -65px;
    /*border-radius: 3px;
    background: #f8f8f8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.20);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

/*
#jumbo:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,0.19), 0 7px 7px rgba(0,0,0,0.16);
}
*/

.left {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

ul.topnav {
    position: fixed;
    top: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 2px solid #f1f1f1;
}

ul.topnav li {
    float: left;
    border-right: 1px solid #f1f1f1;
}
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.topnav li a:hover {
    background-color: #f1f1f1;
    color: black;
}



.calltoaction {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #54CC14;
    border: 1px solid #54CC14;
    border-radius: 5px;
    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0 auto;
    width: 300px;
    display: block;
}
.calltoaction:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(84, 204, 20, 0.3);
    background-color: #54CC14;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.calltoaction:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.calltoaction:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
.calltoaction:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

button {
    color: #54CC14;
    border: 1px solid #54CC14;
    border-radius: 3px;
    background: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background: #54CC14;
    color: white;
}

section {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-bottom: 3rem;
}

.product {
    width: 60%;
    padding: 0 40px 20px 40px;
    margin: 60px auto;
    background: transparent;
    transition: all .5s ease;
    color: #41403E;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:dashed 2px #41403E;
}

.product h2 {
    font-weight: bold;
    font-size: 35px;
}

.product h3 {
    font-weight: normal;
}

.product:hover{
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.createOrder {
    text-align: center;
    margin-top: 60px;
}

.createOrder label {
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
}

.createOrder button {
    margin-left: 43px;
}

#userLogin h1 {
    margin-top: 0px;
}

#editEmployee h1 {
    font-size: 35px;
    margin-top: 0px;
}

#editEmployee h2 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}

#editEmployee h3 {
    font-size: 25px;
    margin-top: 0px;
}

#editEmployee label {
    font-weight: normal;
    margin-left: 40px;
}

#editEmployee .info {
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    text-transform: none;
}

#editEmployee dl {
    margin: 0 0 25px 0;
}

#editEmployee #Passwort_field {
    margin-top: 42px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

