@(employees: List[models.Employee])


@main(models.Company.name) {

    <div id="jumbo">
        <h1 align="center">Willkommen bei @models.Company.name</h1>
        <h2 style="margin: 0px 0 100px 0; align="center">@models.Company.subtitle</h2>
        <h2 align="left"; style="padding: 0px 30px 0px">Angemeldete Mitarbeiter</h2>

            <div class="container">
                <div style="display: inline-block">
                @for(employee <- employees) {
                    <div style="width: 300px; border: 1px solid; padding: 0 20px 10px 20px;">
                        <h2>@employee.email</h2>
                        <h3>@employee.name</h3>
                        <h3>@employee.lastname</h3>
                        <input type="submit" value="Bestellen" />
                        <button class="button button2">Bestellen</button>
                    </div>
                }
                </div>
            </div>
        </div>
}
