@(extras: List[models.Extra])

@main(models.Company.name) {

    <h1 align="center">Extrasübersicht</h1>

    <h3>
        <table>
        @for(extra <- extras) {
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Preis</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>

            </tr>
            <tr>
                <th>@extra.id</th>
                <th>@extra.name</th>
                <th>@("%.2f".format(extra.price)) €</th>
                <th><h1>@if(extra.id != 0) {
                @helper.form(action = routes.ExtraController.getExtra()) {
                    <button type="submit" name="id" value="@extra.id">Bearbeiten</button>
                }
                }</h1></th>
                <th><h1>@if(extra.id != 0) {
                    @helper.form(action = routes.ExtraController.rmExtra()) {
                        <button type="submit" name="id" value="@extra.id">Löschen</button>
                    }
                }</h1></th>
                }
            </tr>
        </table>
    </h3>

}