@(ordersWithAdress: List[models.OrderWithAdress])

@main(models.Company.name) {
    <h2>Bestellübersicht</h2>
    <table>
    @for(orderWithAdress <- ordersWithAdress) {
        <tr>
            <th>Name</th>
            <th>Vorname</th>
            <th>Strasse</th>
            <th>PLZ</th>
            <th>Ort</th>
            <th>E-Mail</th>
            <th>Entfernung</th>
        </tr>
        <tr>
            <th>@orderWithAdress.name</th>
            <th>@orderWithAdress.lastname</th>
            <th>@orderWithAdress.adress</th>
            <th>@orderWithAdress.plz</th>
            <th>@orderWithAdress.city</th>
            <th>@orderWithAdress.email</th>
            <th>@{orderWithAdress.distance.toInt / 1000} km</th>
        </tr>
        <tr>
            <th>Bestellnummer</th>
            <th>Pizza Name</th>
            <th>Produkt Name</th>
            <th>Pizza - Anzahl</th>
            <th>Pizza - Größe</th>
            <th>Pizza - Preis</th>
            <th>Produkt - Anzahl</th>
            <th>Produkt - Preis</th>
            <th>Preis inkl. Steuern</th>
            <th>Bestellzeit</th>
            <th>Lieferzeit</th>
            <th>Status</th>
            <th>Löschen</th>
            <th>Status</th>
        </tr>
            <tr>
                <td>@orderWithAdress.id</td>
                <td>@orderWithAdress.pizzaName @if(orderWithAdress.extraTotalPrice != 0) {
                    mit zusätzlich @orderWithAdress.extrasString
                }</td>
                <td>@orderWithAdress.productName</td>
                <td>@orderWithAdress.pizzaAmount.toInt</td>
                <td>@orderWithAdress.pizzaSize.toInt cm</td>
                <td>@("%.2f".format(orderWithAdress.pizzaPrice)) € / cm @if(orderWithAdress.extraTotalPrice != 0) {
                    + @("%.2f".format(orderWithAdress.extraTotalPrice)) €
                }</td>
                <td>@orderWithAdress.productAmount.toInt</td>
                <td>@("%.2f".format(orderWithAdress.productPrice)) €</td>
                <td>@("%.2f".format(orderWithAdress.totalPrice)) €</td>
                <td>@orderWithAdress.orderTime</td>
                <td>@orderWithAdress.deliveryTime</td>
                <td>@orderWithAdress.status</td>
                <td><h1>@helper.form(action = routes.OrderController.deleteOrder()) {
                    <button type="submit" name="orderID" value="@orderWithAdress.id">Löschen</button>
                }</h1></td>
                <td><h1>@helper.form(action = routes.OrderController.setStatusOrder()) {
                    <select name="orderStatusKZ">
                        <option value="Bestellung erhalten">Bestellung erhalten</option>
                        <option value="Bestellung in Auslieferung">Bestellung in Auslieferung</option>
                        <option value="Lieferung ausgeführt">Lieferung ausgeführt</option>
                        <option value="Storniert">Storniert</option>
                    </select>
                    <button type="submit" name="orderID" value="@orderWithAdress.id">Ändern</button>
                }</h1></td>

            </tr>

        }
    </table>

}
