@(users: List[models.User])

@main(models.Company.name) {

    <h1>Willkommen bei @models.Company.name</h1>

    <div style="height: 50px; display: block; width: 100%; float: none; clear: both;"></div>

    <div class="left">
        <h2>Angemeldeter Benutzer:</h2>
        <h3>@models.activeUser.name</h3>
        <h3>@models.activeUser.lastname</h3>
        <h3>@models.activeUser.adress</h3>
        <h3>@models.activeUser.city</h3>
        <h3>@models.activeUser.plz</h3>
        <h3>@models.activeUser.email</h3>
    </div>

    <div class="right">
    <h2>Registrierte Benutzer:</h2>
        <h3>
        <div style="display: inline-flex">
        @for(user <- users) {
            <div style="width: 150px; border: 1px solid; padding: 0 20px 10px 20px; margin-right: 15px;">
                <li>@user.name</li>
                <li>@user.lastname</li>
                <li>@user.adress</li>
                <li>@user.city</li>
                <li>@user.plz</li>
            </div>
        }
        </div>
        </h3>
    </div>
}
