@(id: Long, name: String, lastname: String, adress: String, city: String, plz: String, email: String, password: String, updateUserForm: Form[forms.UpdateUserForm])

@main(models.Company.name) {

    <h1 align="center", style="margin-top: 0px; margin-bottom: 100px">Edit Employee: @lastname, @name</h1>

    <div id="editEmployee">
        <div class="left">
            <h1>Name:</h1>
            <h2>@name</h2>
            <h1>Vorname:</h1>
            <h2>@lastname</h2>
            <h1>Arbeitsplatz:</h1>
            <h2>@adress</h2>
            <h1>Zugangsberechtigung:</h1>
            <h2>@city</h2>
            <h1>Zugangslevel:</h1>
            <h2>@plz</h2>
            <h1>E-Mail:</h1>
            <h2>@email</h2>
            <h1>Passwort:</h1>
            <h2>@password</h2>
        </div>
        <div class="right">
            <h1>@helper.form(action = routes.UserController.updateUser()) {
                @helper.inputText(updateUserForm("Name"))
                @helper.inputText(updateUserForm("Vorname"))
                @helper.inputText(updateUserForm("Adresse"))
                @helper.inputText(updateUserForm("Stadt"))
                @helper.inputText(updateUserForm("PLZ"))
                @helper.inputText(updateUserForm("e-Mail"))
                @helper.inputPassword(updateUserForm("Passwort"))
                <input type="submit" value="Registrieren" />
            }
            </h1>
        </div>
    </div>

}