@(id: Long, name: String, lastname: String, workplace: String, acces: String, accesLevel: Int, netRate: Double, email: String, password: String, activeFlag: Int, updateEmployeeForm: Form[forms.UpdateEmployeeForm])

@main(models.Company.name) {

    <h1 align="center", style="margin-top: 0px; margin-bottom: 100px">Edit Employee: @lastname, @name</h1>

    <div id="editEmployee">

        @helper.form(action = routes.EmployeeController.updateEmployee()) {
            <div class="left">
                <h1>@helper.inputText(updateEmployeeForm("Name"))</h1>
                <h2>Alter Wert: @name</h2>

                <h1>@helper.inputText(updateEmployeeForm("Vorname"))</h1>
                <h2>Alter Wert: @lastname</h2>

                <h1>@helper.inputText(updateEmployeeForm("Gebiet"))</h1>
                <h2>Alter Wert: @workplace</h2>

                <h1>@helper.inputText(updateEmployeeForm("Zugriff"))</h1>
                <h2>Alter Wert: @acces</h2>
            </div>

            <div class="right">
                <h1>@helper.inputText(updateEmployeeForm("Zugriffsebene"))</h1>
                <h2>Alter Wert: @accesLevel</h2>

                <h1>@helper.inputText(updateEmployeeForm("Stundenrate"))</h1>
                <h2>Alter Wert: @netRate</h2>

                <h1>@helper.inputText(updateEmployeeForm("E-Mail"))</h1>
                <h2>Alter Wert: @email</h2>

                <h1>@helper.inputPassword(updateEmployeeForm("Passwort"))</h1>
            </div>
            <button type="submit" name="id" value="@id">Eingaben speichern</button>

            @if(activeFlag == 1) {
                <h1>@helper.form(action = routes.EmployeeController.employeeFlagZero()) {
                    <button type="submit" name="Mitarbeiter ID" value="@id">Benuter @id Deaktivieren?</button>
                }
                </h1>
            } else {
                <h1>@helper.form(action = routes.EmployeeController.employeeFlagOne()) {
                    <button type="submit" name="Mitarbeiter ID" value="@id">Benuter @id Aktivieren?</button>
                }
                }
        </h1>

        }
    </div>
}