@import forms.CreatePizzaForm
@(userID: String, name: String, employeeForm: Form[forms.CreateEmployeeForm],
        selectEmployeeForm: Form[forms.SelectEmployeeForm], employees: List[models.Employee],
        userForm: Form[forms.CreateUserForm], users: List[models.User], pizzaForm: Form[forms.CreatePizzaForm])

@main(models.Company.name) {

    <h2 align="center">Willkommen @name bei @models.Company.name. Sie wurden Eingeloggt.</h2>

    <h2 style="font-size: 25px; margin-top: -25px; margin-bottom: 60px; font-style: normal;" align="center">
        Als Mitarbeieter der Stufe: @models.activeUser.accesLevel (@models.activeUser.acces) haben Sie Zugriff zu folgenden Webparts:
    </h2>

    @if(models.activeUser.accesLevel == 10 && userID != null) {
        <h1>Pizza Hinzufügen</h1>
        <h3> @helper.form(action = routes.PizzaController.addPizza()) {
            @helper.inputText(pizzaForm("Pizza"))
            @helper.inputText(pizzaForm("Preis pro cm"))
            @helper.inputText(pizzaForm("Zutaten"))
            @helper.inputText(pizzaForm("Kommentar"))
            @helper.inputText(pizzaForm("Zusätze"))
            <input type="submit" value="Hinzufügen" />
        } </h3>
    }

    <div style="height: 50px; display: block; width: 100%; float: none; clear: both;"></div>

    <div class="left">

    @if(models.activeUser.accesLevel == 10 && userID != null) {
        <h1>Mitarbeiter</h1>
        <h1 style="font-size: 30px">Registrierung</h1>
        <h3> @helper.form(action = routes.EmployeeController.addEmployee()) {
            @helper.inputText(employeeForm("Name"))
            @helper.inputText(employeeForm("Vorname"))
            @helper.inputText(employeeForm("Gebiet"))
            @helper.inputText(employeeForm("Zugriff"))
            @helper.inputText(employeeForm("Zugriffsebene"))
            @helper.inputText(employeeForm("Stundenrate"))
            @helper.inputText(employeeForm("E-Mail"))
            @helper.inputText(employeeForm("Passwort"))
            <input type="submit" value="Registrieren" />

        } </h3>

        <h1 style="font-size: 30px">Änderung</h1>
        @helper.form(action = routes.EmployeeController.chooseEmployee()) {
            <select name="Mitarbeiter ID"> @for(employee <- employees) {
                <option value="@employee.id">@employee.id</option>
            }
            </select>
            <button type="submit" value="Auswählen">Auswählen</button>
        }
    }
    </div>
    @if(models.activeUser.accesLevel >= 5 && models.activeUser.activeFlag == 1) {
        <div class="right">
            <h1>Kunden</h1>
            <h1 style="font-size: 30px">Registrierung</h1>
            <h3> @helper.form(action = routes.UserController.addUser()) {
                @helper.inputText(userForm("Name"))
                @helper.inputText(userForm("Vorname"))
                @helper.inputText(userForm("Adresse"))
                @helper.inputText(userForm("Stadt"))
                @helper.inputText(userForm("PLZ"))
                @helper.inputText(userForm("E-Mail"))
                @helper.inputText(userForm("Passwort"))
                <input type="submit" value="Registrieren" />
            }
            </h3>
            <h1 style="font-size: 30px; margin-top: 91px;">Änderung</h1>
            @helper.form(action = routes.UserController.chooseUser()) {
                <select name="User ID"> @for(user <- users) {
                    <option value="@user.id">@user.id</option>
                }
                </select>
                <button type="submit" value="Auswählen">Auswählen</button>
            }
        </div>

    }

    <button><a href="/allOrderDetails">Alle Bestellungen anzeigen</a></button>

}
