@(userID: String, name: String, employeeForm: Form[forms.CreateEmployeeForm],
        selectEmployeeForm: Form[forms.SelectEmployeeForm], employees: List[models.Employee],
        userForm: Form[forms.CreateUserForm], users: List[models.User], accessLevel: Double, activeFlag: Double, access: String,
        pizzaForm: Form[forms.CreatePizzaForm])

@main(models.Company.name) {

    <h2 align="center">Willkommen @name bei @models.Company.name. Sie wurden Eingeloggt. </h2>

    <h2 style="font-size: 25px; margin-top: -25px; margin-bottom: 60px; font-style: normal;" align="center">
        Als Mitarbeieter der Stufe: @accessLevel (@access) haben Sie Zugriff zu folgenden Webparts:
    </h2>



    <div style="height: 40px; display: block; width: 100%; float: none; clear: both;"></div>

    <center>
        <button><a href="/allOrderDetails">Alle Bestellungen anzeigen</a></button>
        <button><a href="/showUsers">Alle Kunden anzeigen</a></button>
        <button><a href="/showEmployees">Alle Mitarbeiter anzeigen</a></button><br>
        <button><a href="/showProducts">Alle Produkte anzeigen</a></button>
        <button><a href="/showPizzas">Alle Pizzen anzeigen</a></button>
        <button><a href="/showExtras">Alle Extras anzeigen</a></button>
    </center>

    <div style="height: 50px; display: block; width: 100%; float: none; clear: both;"></div>

    @if(accessLevel == 10 && userID != null) {
    <div class="left">
        <h1>Mitarbeiter</h1>
        <h1 style="font-size: 30px">Registrierung</h1>
        <h3> @helper.form(action = routes.EmployeeController.addEmployee()) {
            @helper.inputText(employeeForm("Name"))
            @helper.inputText(employeeForm("Vorname"))
            @helper.inputText(employeeForm("Gebiet"))
            @helper.inputText(employeeForm("Zugriff"))
            @helper.inputText(employeeForm("Zugriffsebene"))
            @helper.inputText(employeeForm("Stundenrate"))
            @helper.inputText(employeeForm("E-Mail"))
            @helper.inputText(employeeForm("Passwort"))
            <button type="submit" >Registrieren</button>

        } </h3>

    }
    </div>
    @if(accessLevel >= 5 && activeFlag == 1) {
        <div class="right">
            <h1>Kunden</h1>
            <h1 style="font-size: 30px">Registrierung</h1>
            <h3> @helper.form(action = routes.UserController.addUser()) {
                @helper.inputText(userForm("Name"))
                @helper.inputText(userForm("Vorname"))
                @helper.inputText(userForm("Adresse"))
                @helper.inputText(userForm("Stadt"))
                @helper.inputText(userForm("PLZ"))
                @helper.inputText(userForm("E-Mail"))
                @helper.inputText(userForm("Passwort"))
                <button type="submit" >Registrieren</button>
            }
            </h3>
        </div>

        <div class="left">
            <h1>Produkt</h1>
            <h1 style="font-size: 30px">Hinzufügen</h1>
            @helper.form(action = routes.ProductController.addProduct()) {
                @helper.inputText(userForm("Name"))
                @helper.inputText(userForm("Preis"))
                @helper.inputText(userForm("Größe"))
                @helper.inputText(userForm("Einheit"))
                <button type="submit" name="id" value="-1">Hinzufügen</button>
            }


            <h1>Extra</h1>
            <h1 style="font-size: 30px">Hinzufügen</h1>
            @helper.form(action = routes.ExtraController.addExtra()) {
                @helper.inputText(userForm("Name"))
                @helper.inputText(userForm("Preis"))
                <button type="submit" name="id" value="-1">Hinzufügen</button>
            }
        </div>
        <div class="right">
            <h1>Pizza</h1>
            <h1 style="font-size: 30px">Hinzufügen</h1>
            <h3> @helper.form(action = routes.PizzaController.addPizza()) {
                @helper.inputText(pizzaForm("Name"))
                @helper.inputText(pizzaForm("Preis pro cm"))
                @helper.inputText(pizzaForm("Zutaten"))
                @helper.inputText(pizzaForm("Kommentar"))
                @helper.inputText(pizzaForm("Zusatzstoffe"))
                <button type="submit" name="id" value="-1">Hinzufügen</button>
            } </h3>
        </div>
    }
}
