@(emloyeeForm: Form[forms.CreateEmployeeForm], employees: List[models.Employee], loginForm: Form[forms.CreateEmployeeLogInForm])


@import views.html.helper

@main(models.Company.name) {
    <div id="userLogin">
        <div class="left">
            <h1>Einloggen</h1>
            <h3> @helper.form(action = routes.EmployeeController.logInEmployee()) {
                @helper.inputText(loginForm("E-Mail"))
                @helper.inputPassword(loginForm("Passwort"))
                <input type="submit" value="Einloggen" />
            }
            </h3>
        </div>
    </div>
}