@main(models.Company.name) {

    <div id="jumbo">
        <div style="display: inline-block; width: 33%;">
            <img src="@routes.Assets.versioned("images/Logo.png")" width="100%">
        </div>
        <div style="display: inline-block; width: 60%; vertical-align: top; float: right;">
            <h1 style="font-size: 80px;" align="center">@models.Company.name</h1>
            <h2 align="center" style="font-size: 50px; margin: -22px 0 0 8px;">@models.Company.subtitle</h2>
        </div>
    </div>

    <a href="/products" class="calltoaction">Produkte</a>
}
