@(price: Double)

@main(models.Company.name) {

    <h1 align="center">Vielen Dank für Ihre Bestellung bei @models.Company.name</h1>
    <h1 align="center">Ihre Bestellübersicht</h1>
    <h1 align="center">Kunde: @models.activeUser.name</h1>
    <h1 align="center">Produkt: @models.Warenkorb.product</h1>
    <h1 align="center">Preis: @models.Warenkorb.price</h1>
    <h1 align="center">Anzahl: @models.Warenkorb.amount</h1>
    <h1 align="center">Preis inkl. Steuern: @models.Warenkorb.priceEnd</h1>


}