@(price: Double)

@main(models.Company.name) {

    <h1 align="center">Vielen Dank für Ihre Bestellung bei @models.Company.name</h1>
    <h1 align="center">Ihre Bestellübersicht</h1>
    <h2 align="center">Kunde: @models.activeUser.name</h2>
    <h2 align="center">Produkt: @models.Warenkorb.product</h2>
    <h2 align="center">Preis: @models.Warenkorb.price</h2>
    <h2 align="center">Anzahl: @models.Warenkorb.amount</h2>
    <h2 align="center">Größe @models.Warenkorb.size cm</h2>
    <h2 align="center">Preis inkl. Steuern: @models.Warenkorb.priceEnd €</h2>


}