@(pizzas: List[models.Pizza], products: List[models.Product], orderForm: Form[forms.CreateOrderForm], userID: Double, extras: List[models.Extra])

@import views.html.helper

@main(models.Company.name) {
        <h1>Produktauswahl</h1>
        <h2 style="margin: 0px 0 100px 0;">Willkommen bei @models.Company.name</h2>
        <div class="container">
            <div class="left">
                <h1>Pizzen</h1>
                <section>
                @for(pizza <- pizzas) {
                    <div class="product">
                        <h2 style="margin-top: 20px;
                            text-align: center;">@pizza.name</h2>
                        <h3>Bestellnummer: @pizza.id</h3>
                        <h3>@pizza.comment</h3>
                        <h3>@pizza.ingredients</h3>
                        <h3>Preis pro cm: @pizza.price €</h3>
                    </div>
                }
                </section>
            </div>

            <div class="right">
                <h1>Beilagen</h1>
                @for(product <- products) {
                    <div class="product">
                        <h2 style="margin-top: 20px;
                            text-align: center;">@product.name</h2>
                        <h3>Bestellnummer: @product.id</h3>
                        <h3>Preis pro @product.unit: @product.price €</h3>
                    </div>
                }
            </div>
            @if(userID == -1) {
            <h3 style="color: red; font-size: 20px" align="center">Bitte melden Sie sich zuerst über das Benutzerportal an um eine Bestellung ausführen zu können.</h3>
            } else {
            <div class="createOrder">
                <h3>
                    @helper.form(action = routes.OrderController.createOrder()) {
                        <h2>Pizza:</h2>
                        <select name="pizzaID"> @for(pizza <- pizzas) {
                            <option value="@pizza.id">@pizza.name - @pizza.price €</option>
                        }
                        </select>
                        @helper.inputText(orderForm("pizzaAmount"),'_label -> "Pizza Anzahl:")
                        <br>
                        <select name="pizzaSize">
                            <option value="14">M - 14 cm</option>
                            <option value="18">L - 18 cm</option>
                            <option value="22">XL - 22 cm</option>
                            <option value="30">XXL - 30 cm</option>
                        </select>
                        <br>
                        Extra 1:
                        <select name="extraOneID"> @for(extra <- extras) {
                            <option value="@extra.id">@extra.name - @extra.price €</option>
                        }
                        </select>
                        Extra 2:
                        <select name="extraTwoID"> @for(extra <- extras) {
                            <option value="@extra.id">@extra.name - @extra.price €</option>
                        }
                        </select>
                        Extra 3:
                        <select name="extraThreeID"> @for(extra <- extras) {
                            <option value="@extra.id">@extra.name - @extra.price €</option>
                        }
                        </select>
                        <br>
                        Produkt:
                        <select name="productID"> @for(product <- products) {
                            <option value="@product.id">@product.name - @product.price €</option>
                        }
                        </select>
                        <br>
                        @helper.inputText(orderForm("productAmount"),'_label -> "Produkt Anzahl:")
                        <button type="submit" name="userID" value="@userID">Bestellung ausführen?</button>
                    }
                </h3>
            }
            </div>
        </div>
}