@(userForm: Form[forms.CreateUserForm], users: List[models.User], loginForm: Form[forms.CreateUserLogInForm])
@import views.html.helper

@main(models.Company.name) {
    <div id="userLogin">
        <div class="left">
            <h1>Einloggen</h1>
            <h3> @helper.form(action = routes.UserController.logInUser()) {
                @helper.inputText(loginForm("E-Mail"))
                @helper.inputPassword(loginForm("Passwort"))
                <button type="submit">Einloggen</button>
            }
            </h3>
        </div>
        <div class="right">
            <h1>Registrieren</h1>
            <h3> @helper.form(action = routes.UserController.addUser()) {
                @helper.inputText(userForm("Name"))
                @helper.inputText(userForm("Vorname"))
                @helper.inputText(userForm("Adresse"))
                @helper.inputText(userForm("Stadt"))
                @helper.inputText(userForm("PLZ"))
                @helper.inputText(userForm("E-Mail"))
                @helper.inputPassword(userForm("Passwort"))
                <button type="submit">Registrieren</button>
            }
            </h3>
        </div>
    </div>
}