@(users: List[models.User], ordersByID: List[models.Order], id: Long)

@main(models.Company.name) {

    <h2 align="center">Willkommen bei @models.Company.name. Sie wurden Eingeloggt.</h2>

    <h1 style="margin-bottom: 20px;">Bestellübersicht</h1>
    <table>
        <tr>
            <th>Bestellnummer</th>
            <th>Benutzer ID</th>
            <th>Pizza ID</th>
            <th>Produkt ID</th>
            <th>Pizza Name</th>
            <th>Produkt Name</th>
            <th>Pizza - Anzahl</th>
            <th>Pizza - Größe</th>
            <th>Pizza - Preis</th>
            <th>Produkt - Anzahl</th>
            <th>Produkt - Preis</th>
            <th>Preis inkl. Steuern</th>
            <th>Bestellzeit</th>
            <th>Status</th>
            <th>Stornieren</th>
        </tr>
    @for(order <- ordersByID) {
        <tr>
            <td>@order.id</td>
            <td>@order.customerID.toInt</td>
            <td>@order.pizzaID.toInt</td>
            <td>@order.productID.toInt</td>
            <td>@order.pizzaName</td>
            <td>@order.productName</td>
            <td>@order.pizzaAmount.toInt</td>
            <td>@order.pizzaSize cm</td>
            <td>@("%.2f".format(order.pizzaPrice)) €</td>
            <td>@order.productAmount.toInt</td>
            <td>@("%.2f".format(order.productPrice)) €</td>
            <td>@("%.2f".format(order.totalPrice)) €</td>
            <td>@order.orderTime</td>
            <td>@order.status</td>
            @if(order.status.toString != "Storniert") {
                <td><h1>@helper.form(action = routes.OrderController.deactivateOrder()) {
                    <button type="submit" name="orderID" value="@order.id">Bestellung Strornieren</button>
                }</h1>
                </td>
            } else {
                <td></td>
            }
        </tr>

    }
    </table>

    <h1>Änderung</h1>

    <h1 align="center">@helper.form(action = routes.UserController.chooseUser()) {
            <button type="submit" name="User ID" value="@id">Benutzer ändern</button>
    }</h1>


}