@(users: List[models.User], ordersByID: List[models.Order], id: Long)

@main(models.Company.name) {

    <h2 align="center">Willkommen bei @models.Company.name. Sie wurden Eingeloggt.</h2>

    <div style="height: 50px; display: block;"></div>

    <h1 style="margin-bottom: 20px;">Bestellübersicht</h1>
    <table>
        <tr>
            <th style="max-width: 70px">Bestell - nummer</th>
            <th>Pizza Name </th>
            <th>Produkt Name</th>
            <th>Pizza - Anzahl</th>
            <th>Pizza - Größe</th>
            <th>Pizza - Preis</th>
            <th>Produkt - Anzahl</th>
            <th>Produkt - Preis</th>
            <th>Preis inkl. Steuern</th>
            <th>Bestellzeitpunkt</th>
            <th>Lieferzeitpunkt</th>
            <th>Status</th>
            <th>Stornieren</th>
        </tr>
    @for(order <- ordersByID) {
        <tr>
            <td>@order.id</td>
            <td>@order.pizzaName @if(order.extraOnePrice != 0 && order.extraTwoPrice == 0 && order.extraThreePrice == 0) {
                mit zusätzlich @order.extraOneName
                }
                @if(order.extraOnePrice != 0 && order.extraTwoPrice != 0 && order.extraThreePrice == 0) {
                    mit zusätzlich @order.extraOneName, @order.extraTwoName
                }
                @if(order.extraOnePrice != 0 && order.extraTwoPrice != 0 && order.extraThreePrice != 0) {
                    mit zusätzlich @order.extraOneName, @order.extraTwoName, @order.extraThreeName
                }
                </td>
            <td>@order.productName</td>
            <td>@order.pizzaAmount.toInt</td>
            <td>@order.pizzaSize cm</td>
            <td>@("%.2f".format(order.pizzaPrice)) € / cm @if(order.extraOnePrice != 0 || order.extraTwoPrice == 0 || order.extraThreePrice == 0) {
                + @{"%.2f".format(order.extraOnePrice + order.extraTwoPrice + order.extraThreePrice)} €
            }</td>
            <td>@order.productAmount.toInt</td>
            <td>@("%.2f".format(order.productPrice)) €</td>
            <td>@("%.2f".format(order.totalPrice)) €</td>
            <td>@order.orderTime</td>
            <td>@order.deliveryTime</td>
            <td>@order.status</td>
            @if(order.status.toString != "Storniert") {
                <td>@helper.form(action = routes.OrderController.deactivateOrder()) {
                    <button style="padding: 5px 10px;
                    margin: 0;" type="submit" name="orderID" value="@order.id">Bestellung Strornieren</button>
                }
                </td>
            } else {
                <td></td>
            }
        </tr>

    }
    </table>

    <div style="height: 50px; display: block;"></div>

    <h1>Änderung</h1>
    <center>@helper.form(action = routes.UserController.chooseUser()) {
            <button class="nop" type="submit" name="User ID" value="@id">Benutzer ändern</button>
    }</center>


}