@(userForm: Form[forms.CreateUserForm])

@import views.html.helper

@main(models.Company.name) {
    <h1>Registrieren</h1>
    <p> @helper.form(action = routes.UserController.addUser()) {
            @helper.inputText(userForm("Name"))
            @helper.inputText(userForm("Vorname"))
            @helper.inputText(userForm("Strasse"))
            @helper.inputText(userForm("Postleitzahl"))
            @helper.inputText(userForm("Ort"))
            <input type="submit" value="Registrieren" />
        }
    </p>

    
}